*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
div#cont_padre{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    gap: 11%;
    background-color: rgb(147, 221, 221);
}

div#cont_temp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#figure_temp {
    width: 40px;
    margin: 0;
    padding: 0;
}
.cont_temp_span {
    font-size: 30px;
}

#img_temp {
    width: 100%;
}
.raya {
    border-right: black 1px solid;
}